@import '../../common/colours.css';

.messages {
    max-width: 45rem;
    background: white;
    padding: 1em;
    height: 20rem;
    overflow-y: scroll;
}

.inputField {
    position: relative;
    max-width: 45rem;
    background: white;
    padding: 1em;
    border-top: 2px solid var(--offwhite);
}

.input {
    border: none;
    font-size: 1em;
    width: 93%;
    color: var(--darkgrey);
    font-weight: 200;
}

.input:focus {
    outline: none;
    outline-offset: 0;
}

.button {
    position: absolute;
    top: 50%;
    right: 1.2em;
    background: var(--primary);
    border: none;
    border-radius: 0;
    width: 3em;
    height: 65%;
    color: white;
    transform: translate(0, -50%);
}