@import '../../common/colours.css';

.post {
    display: inline-block;
    margin-bottom: 2em;
}

.post:last-of-type {
    margin-right: 0;
}

@media(min-width: 75.3125em) {
    .post {
        width: 23rem;
        margin-bottom: 0;
    }
}

@media(min-width: 48em) {
    .post {
        margin-right: 1em;
        max-width: 48%;
    }

    .post:last-of-type {
        margin-bottom: 0;
    }
}

.title {
    color: var(--primary);
    font-weight: 300;
    font-size: 1em;
    margin: 0;
}

.date {
    color: #ABABAB;
}

.link {
    color: var(--primary);
    text-decoration: underline;
}